.cart-btn {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);

  color: white;
  font-weight: 600;
  border: 0px;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.cart-bottom {
  display: flex;
  justify-content: center;
}

.cart-alert {
  background-color: blanchedalmond;
  width: 90%;
  max-width: 1000px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

.cart-alert button {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
